/* Custom Font */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

/* Font styles variations */
.bold {
    font-weight: 700!important;
}
.nav .nav-item .nav-link.active {
    color: #1D2777;
    font-weight: 700;
}
/**/
html {
    height: 92%;
}
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #EEEEF0;
    height: 100%;
}
.navbar .hidden-md-up {
    display: none;
}
.container-fluid {
    padding: 0 22px;
}
.container-fluid .row {
    margin-right: -22px;
    margin-left: -22px;
}
.navbar-light .navbar-brand {
    margin-top: 4px;
}
.navbar {
    border-bottom: 1px solid #E9E9E9;
    padding: 0;
    background: #fff;
}
.navbar .btn {
    border-radius: 15px;
    padding: 0.1rem 0.8rem;
    background-color: #EB1A2D;
}
.navbar .dropdown-toggle::after {
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 0.8rem;
    border: none;
    vertical-align: initial;
    margin-left: 1.8rem;
}

.navbar .user {
    font-weight: 700;
    color: #EB1A2D;
    margin-left: 20px;
} 
.navbar .user em {
    color: #76797B;
    font-style: normal;
}
.navbar .user span {
    border: 1px solid #CECECE;
    font-style: normal;
    background-color: #EEEEF0;
    padding: 3px 4px;
    border-radius: 5px;
    margin-left: 5px;
}

.nav {
    padding: 0;
    background: #fff;
    flex-direction: column;
}
.nav .nav-item.spacer { 
    flex: 2;
}
.nav .nav-item .nav-link { 
    padding: 0.75rem 2.25rem 0.8rem 1.25rem;
    font-weight: 500;
    color: #404040;
    border-bottom: 1px solid #E9E9E9;
    font-size: 1.05rem;
}
.nav .nav-item .nav-link.active {
    background-color: #EEEEF0;
    font-weight: 700;
}

.main {
    padding: 16px 0 0 42px;
}
.main .main-title {
    color: #1D2777;
    font-weight: 700;
    margin: 0 0 0.9rem;
    font-size: 1.35rem;
    letter-spacing: 0.016rem;
}
.card {
    border-radius: .5rem;
}
.card-header:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}
.card, .card-header, .dropdown-menu {
    border-color: #E9E9E9;
    background: #fff;
}
.card .card-header {
    padding: .4rem 1rem;
}
.card .card-title {
    margin-bottom: 0;
}
.card .card-body {
    padding: 1.25rem 1rem;
}
.card.importe .card-title {
    font-size: 1.1rem;
    color: #1D2777;
}
.card.factura .card-body {
    padding: 0.4rem 1rem;
}
.card.factura .card-body p {
    margin-bottom: 0;
}
.card .card-text.orange-sm {
    padding: 0.5rem 0 0.2rem;
    font-size: 0.8rem;
    color: orangered;
}
.card .card-text {
    color: #76797B;
}
.alert h5 {
    color: #76797B;
    font-size: 1.15rem;
}
.main .card, .main .alert {
    margin-left: 40px;
}
.main .card::before, .main .alert::before {
    font-family: "FontAwesome";
    position: absolute;
    left: -42px;
    border-radius: 50%;
    color: #fff;
    padding-top: 5px;
    text-align: center;
    width: 26px;
    height: 26px;
    font-size: 0.7rem;
    top: 6px;
}
.main .importe::before {
    content: "\f00c";
    background-color: #51C881;
}
.main .factura::before {
    background-color: #FF713E;
    content: "\f071";
}
.main .alert::before {
    content: "\f140";
    background-color: #777;
}
.main .card::after {
    position: absolute;
    width: 5px;
    content: "";
    height: 92%;
    left: -30px;
    top: 32px;
    border-left: 2px dashed #ccc;
}
@media (max-width:641px) {
    .nav .nav-item.sesion, 
    .nav .nav-item.alertas span, 
    .main .main-title, 
    .user * {
        display: none;
    }
    .nav .nav-item.sesion {
        position: absolute;
        z-index: 1000;
        background: #E9E9E9;
        top: 44px;
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 20px 20px 0;
    }
    .nav .nav-item.sesion.show-menu {
        display: block;
    }
    .navbar .hidden-md-up {
        display: inline-block;
    }
    .navbar .fa-bars {
        font-size: 1.3rem;
    }
    .navbar {
        border-bottom: none;
        padding: 15px 0 12px;
    }
    .navbar .float-right {
        position: absolute;
        left: 35px;
    }
    .navbar .btn-group {
        float: right;
        margin-left: 10px;
    }
    .navbar .user {
        font-size: 1.1rem;
        vertical-align: text-top;
    }
    .nav .nav-item {
        text-align: center;
        display: inline-block;
        width: 49%;
    }
    .nav .nav-item.alertas {
        position: absolute;
        top: 15px;
        right: 20px;
        width: auto;
    }
    .nav .nav-item.alertas .fa-bell {
        font-size: 1.2rem;
    }
    .nav .nav-item.alertas .nav-link {
        padding: 0;
        border: 0;
    }
    .nav .nav-item .nav-link {
        border-bottom: none;
        padding: 0.75rem 0 0.8rem;
    }
    .nav .nav-item .nav-link.active {
        background-color: #fff;
        border-bottom: 2px solid #1D2777;
        font-weight: 700;
    }
    .main {
        padding: 0 15px;
    }
    .nav {
        height: 52px!important;
        display: inline-block;
        width: 100%;
        box-shadow: 4px 4px 5px #ccc;
    }
    .nav .spacer, .navbar-brand {
        display: none;
    }
    .main {
        margin-top: -7rem;
    }
}